body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("f3.jpg") center/cover no-repeat;
 

}
.bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
    opacity: 0;
}
.terms-box{
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 460px;
    background-color: rgba(255, 255, 255, 0.341);
    color: #070707;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 14px;
}
.terms-box .terms-text{
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 14;
    font-weight: 500;
    color: #000000;
}
.terms-text::-webkit-scrollbar{
    width: 2px;
    background-color: #ece9e9;
}
.terms-text::-webkit-scrollbar-thumb{
    background-color: #0a0a0a;
}
.terms-text h2{
    text-transform: uppercase;
}
.terms-text h4{
    font-size: 13px;
    text-align: center;
    padding: 0 40px;
}
.terms-box h4 span{
    color: rgb(245, 68, 68);
    text-transform: uppercase;
}
.buttons .a{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    padding-bottom: 50px;
}
a .btn{
    height: 50px;
    width: calc(50% - 6px);
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    transition: .3s linear;
    cursor: pointer;
}
.red-btn{
    background-color: rgb(245, 68, 68);
}
.gray-btn{
    background-color: #282828;
}
.btn:hover{
    opacity: .6;
}
